.products.mini .item{
    margin-bottom: 2em;
}
.products.mini .media{
    width: 130px;
    height: 160px;
    margin-right: 1.25em;
}
.products.mini .content{
    margin: 0;
    gap: 0.75em;
}
.products:where(.mini,.main) h3{
    font-weight: 400;
}