
.main-links a:hover{
    color: var(--primary-color);
}
.second-link a:hover {
    color: var(--light-text-color);
}
.icon-smal, .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-small{
    font-size: 1.25em;
    margin-left: auto;
}
.icon-large{
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}
/* .mobile-hide{
    display: none;
} */

.object-cover img{
    position: absolute;
    object-fit: cover;
    height: var(--percent100);
    width: var(--percent100);
    display: block;
}

.products .media{
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}
.primary-button, .secondary-button, .light-button{
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    border-radius: 2em;
    transition: var(--trans-background-color);
}
.primary-button{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.primary-button:hover{
    background-color: var(--dark-color);
}
.secondary-button{
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.secondary-button:hover{
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
}
.light-button{
    background-color: var(--light-bg-color);
}
.light-button:hover{
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.view-all{
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}
.mini-text{
    font-size: var(--font-smaller);
    color: var(--light-text-color);
}





/* ------------------------------------------------------------------------------ */
:where(.off-canvas, header) li > a{
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);

}
.header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw4);
    justify-content: space-between;
    line-height: 42px;
}
.header-top .wrapper ul{
    gap: 2em;
}
.header-top li{
    position: relative;
    
}
.header-top ul ul{
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: inline-table;
    display: none;
}
:where(.header-top, .thetop-nav) .right ul ul li a {
    padding: 0.25em 1em;
}
:where(.header-top, .thetop-nav) .right ul ul li.current a {
    background-color: var(--border-color);
}
.header-top li:hover ul{
    display: block;
    display: inline-table;
}